div {
    background-color: crimson;
    line-height: 1.8em;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
img{
    height: 200px;
    width:200px
}